@import java.util
@(results: Option[List[com.google.api.services.youtube.model.SearchResult]], query: String)

@main("YouTube Search") {
<div class="container">
    <h1>YouTube Video Search</h1>

    <!-- Search Form -->
    <form action='@routes.YoutubeController.search("")' method="GET">
    <div>
        <label for="query">Enter keyword:</label>
        <input type="text" name="query" id="query" required placeholder="Search for videos..." />
        <button type="submit">Search</button>
    </div>
    </form>


    <!-- Search Results -->
    <div id="results">
        @results match {
        case Some(videos) if videos.nonEmpty => {
        <h2>Search Results for "@query"</h2>
            <div>
                <a href="@routes.StatisticsController.getStatistics(query)" target="_blank">
                View Word Frequency Statistics for "@query"
                </a>
            </div>
        <ul>
            @for(video <- videos) {
            <li>
                <a href='@("https://www.youtube.com/watch?v=" + video.getId().getVideoId)' target="_blank">
                    @video.getSnippet().getTitle()
                </a>
                <br/>
                <img src="@video.getSnippet().getThumbnails().getDefault().getUrl()" alt="Thumbnail" />
            </li>
            }
        </ul>
        }
        case _ => {
        <p>No results found.</p>
        }
        }
    </div>
</div>
}
